body {
  background-color: #31313a;
  border: 30px solid #28282f;
}
.nav-boi {
  padding: 0 15% 0% 15%;
}
section {
  padding-right: 15%;
  padding-left: 15%;
  height: 100vh;
}

.section {
  height: 100%;
}

.landing {
  display: grid;
  place-items: center;
}

.landing {
  text-shadow: 0.05em 0 0, #f26b38, -0.025em -0.05em 0 #f0f0f0,
    0.025em 0.05em 0 #31313a;
  animation: glitch 500ms infinite;
}

@keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 #f26b38, -0.05em -0.025em 0 #f0f0f0,
      -0.025em 0.05em 0 #31313a;
  }
  14% {
    text-shadow: 0.05em 0 0 #f26b38, -0.05em -0.025em 0 #f0f0f0,
      -0.025em 0.05em 0 #31313a;
  }
  15% {
    text-shadow: -0.05em -0.025em 0 #f26b38, 0.025em 0.025em 0 #f0f0f0,
      -0.05em -0.05em 0 #31313a;
  }
  49% {
    text-shadow: -0.05em -0.025em 0 #f26b38, 0.025em 0.025em 0 #f0f0f0,
      -0.05em -0.05em 0 #31313a;
  }
  50% {
    text-shadow: 0.025em 0.05em 0 #f26b38, 0.05em 0 0 #f0f0f0,
      0 -0.05em 0 #31313a;
  }
  99% {
    text-shadow: 0.025em 0.05em 0 #f26b38, 0.05em 0 0 #f0f0f0,
      0 -0.05em 0 #31313a;
  }
  100% {
    text-shadow: -0.025em 0 0 #f26b38, -0.025em -0.025em 0 #f0f0f0,
      -0.025em -0.05em 0 #31313a;
  }
}
